body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: var(--secondary-color);
    transition: 0.5s;
}

.container{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
    background: var(--secondary-color);
}

.firstBg{
    position: absolute;
    top: 40px;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
}

.firstBg .box{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.firstBg .box h2{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.firstBg .box button{
    cursor: pointer;
    padding: 10px 20px;
    background: orange;
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 500;
    border: none;
}

.formBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: orange;
    z-index:1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.formBx.active{
    left: 50%;
}

.formBx .form{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}

.formBx .signinForm{
    transition: 0.25s;
}

.formBx.active .signinForm{
    left: -100%;
    transition: 0s;
}

.formBx .signupForm{
    left: 100%;
    transition: 0.s;
}

.formBx.active .signupForm{
    left: 0;
    transition: 0.25s;
}


.formBx .form form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formBx .form form h3{
    font-size: 1.5em;
    color: var(--secondary-color);
    margin-bottom: 20px;
    font-weight: 500;
}

.formBx .form form input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid var(--secondary-color);
}

.formBx .form form input[type="submit"]{
    background: var(--primary-color);
    border: none;
    max-width: 100px;
    cursor: pointer;
}

.formBx .form form .forgot{
    color: var(--secondary-color);
    text-decoration: none; 
}