.profile-container{
    position: relative;
    width: 1000px;
    height: 660px;
    margin-top: 60px;
}

.profile-panel{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;;
    align-items: center;
    background: var(--primary-color);
}

.profile-info{
    width: 50%;
    margin: 10px 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.profile-info h3{
    color: #fff;
    font-size: 2rem;
    align-self: center;
}

.username-box form, .email-box form, .phone-box form, .password-box form{
    display: flex;
    flex-direction: column;
}

.username-box form p, .email-box form p, .phone-box form p{
    color: black;
    font-size: 1.3rem;
}
#new-username, #new-email, #new-phone, #old-password, #new-password, #c-new-password{
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    outline: none;
    font-size: 13px;
    border: 1px solid var(--secondary-color);
    display: none;
}

#update-username, #update-email, #update-phone, #update-password, #username-cancel-btn, #email-cancel-btn, #phone-cancel-btn, #password-cancel-btn{
    background: var(--third-color);
    border: none;
    width: 100%;
    cursor: pointer;
    display: none;
    padding: 10px;
    margin-bottom: 5px;
}

#update-username:hover, #update-email:hover, #update-phone:hover, #update-password:hover,
 #username-cancel-btn:hover, #email-cancel-btn:hover, #phone-cancel-btn:hover, #password-cancel-btn:hover{
    background: var(--secondary-color);
    color: var(--third-color);
}

.edit-btn{
    color: var(--secondary-color);
    font-size: 1rem;
    cursor: pointer;
}

.delete-account-box{
    align-self: center;
}

.delete-account-btn {
    color: var(--secondary-color);
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
    border: none;
    background: transparent;
}

.delete-options{
    display: flex;
    justify-content: space-between; 
}

.confirm-delete-account-btn, .cancel-delete-account-btn {
    background: var(--third-color);
    border: none;
    max-width: 200px;
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
    display: none;
}

.cancel-delete-account-btn{
    background: transparent;
    border: 1px solid var(--third-color);
}


.confirm-delete-account-btn:hover, .cancel-delete-account-btn:hover{
    background: var(--secondary-color);
    color: var(--third-color);
}


.edit-btn:hover,
.delete-account-btn:hover{
    color: var(--third-color);
}

.subscription-info{
    width: 35%;
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 30px;
    padding: 20px;
}

.subscription-info h3{
    color: var(--third-color);
    font-size: 2rem;
    margin: 0 15px;
}

.subsc-kind{
    position: relative;
    display: flex;
    align-items: starring;
    flex-direction: column;
    color: white;
}

.subsc-btn{
    width: 100%;
    background: var(--third-color);
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-style: italic;
    font-size: 1rem;
    padding: 13px;
    margin: 10px 0;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
}

.subsc-btn:hover{
    color: white;
    background: var(--primary-color);
}

