.user-container{
    position: relative;
    width: 1200px;
    height: 680px;
    margin-top: 60px;
}

.user-panel{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;;
    align-items: center;
    background: var(--primary-color);
}

.user-info{
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-info h3{
    color: #fff;
    font-size: 2rem;
}

.users-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1rem;
    min-width: 600px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.users-table thead tr{
    background-color: var(--third-color);
    color: white;
    text-align: left;
    font-weight: bold;
}

.users-table th, .users-table td{
    padding: 12px 15px;
}

.users-table tbody tr{
    border-bottom: 1px solid black;   
    background-color: white; 
}

.users-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;  
}

.users-table tbody tr:last-of-type{
    border-bottom: 2px solid var(--third-color);
}

.user-action-btn{
    color: var(--third-color);
    border: none;
    cursor: pointer;
    padding: 1px;
    background: none;
    font-family: inherit;
    font-size: 0.8rem;

}